.videoFrame-resizable {
  position: relative;
}

.videoFrame-resizable .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.videoFrame-paper {
  position: fixed;
  z-index: 1800;
  background-color: transparent !important;
  box-shadow: none !important;
  border: 2px solid;
  border-color: #80808047;
}

.videoFrame-paper h2 {
  padding: 0;
  overflow: visible;
  background-color: #fff;
}

.videoFrame-paper .icons {
  flex-direction: row-reverse;
  display: flex;
  padding: 0 8px;
}

.videoFrame-paper .icons button {
  cursor: pointer !important;
}

.videoFrame-paper .icons svg {
  cursor: pointer !important;
}

.videoFrame-paper > div {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 28px 36px -8px #ccc !important;
  height: 100%;
  background-color: #fff;
  min-height: 65vh;
  min-width: 20vw !important;
}

.videoFrame-paper button {
  margin-left: 8px;
  margin-top: 8px;
  background-color: #fff;
  color: var(--bs-primary) !important;
}

.videoFrame-paper button:hover {
  margin-left: 8px;
  margin-top: 8px;
  background-color: var(--bs-primary) !important;
  color: #fff !important;
}

.videoFrame-paper .MuiDialogContent-root {
  height: 90%;
  width: 100%;
  padding: 0;
  overflow: visible;
  padding: 20px 24px !important;
}

.headerContainer {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 10%;
  border-radius: 0 0 15px 15px;
  padding: 10px 25px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  top: 6%;
  right: 5%;
}

/* .eventpagecontainer {
  position: relative;
  margin: 30px !important;
  box-shadow: 0 0 5px #333 !important;
  padding: 4% !important;
  color: black !important;
  font-size: 16px !important;
  font-weight: 900 !important;
  overflow: hidden;
}

.eventpagecontainer > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #ffffff, #e0f7fa);
  z-index: -1;
}
 */
