.fdf-sch-main-pages-header {
    background: url("../assets/images/fdf/fdfSchBanner.png") center/cover no-repeat;
    width: calc(100% - 5vw);
    margin: auto;
    height: 300px;
    border-radius: 15px;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
}

.fdf-sch-search-text-field .input-group {
    .form-control {
        border-right: 0;

        &:focus {
            box-shadow: none !important;
        }
    }

    .input-group-append .input-group-text,
    .input-group-prepend .input-group-text {
        height: 100%;
        background-color: var(--bs-body-bg);
        color: var(--bs-secondary);
    }

    .input-group-append .input-group-text {
        border-radius: 0 var(--bs-border-radius-2xl) var(--bs-border-radius-2xl) 0;
    }

    .input-group-prepend .input-group-text {
        border-radius: var(--bs-border-radius-2xl) 0 0 var(--bs-border-radius-2xl);
    }
}

.fdf-sch-main-tabs {
    .add_new_tab {
        align-items: center;
        height: 75px;
        justify-content: center;
        display: flex;
        border-radius: var(--bs-border-radius-lg);
        border-color: var(--bs-border-color);
        background-color: transparent;
        color: var(--bs-nav-tabs-link-active-color);
    }

    .card {
        border: none;

        .card-header {
            margin: auto;
            background-color: transparent;
            border-bottom: none;
            padding: 0;
        }

        .card-header-tabs .nav-link {
            border: 1px solid var(--bs-border-color) !important;
            border-radius: 15px;
            background-color: var(--bs-body-bg);
            color: var(--bs-nav-tabs-link-active-color);
            margin: 0 8px;
            min-width: 150px;
            padding: 1rem;
            text-align: center;

            &:after {
                position: absolute;
                content: "";
                transition: all 0.2s ease-in-out 0.05s;
                bottom: -8px;
                left: 0;
                right: 0;
                margin: auto;
                width: 16px;
                height: 16px;
                background-color: var(---bs-body-bg);
                border-left: 1px solid var(--bs-body-bg);
                border-radius: 0 0 0 6px;
                transform: rotate(-45deg);
                border-bottom: 1px solid var(--bs-body-bg);
            }

            &.active {
                background-color: var(--bs-primary);
                position: relative;
                color: var(--bs-body-bg) !important;
                border-color: var(--bs-primary) !important;

                &:after {
                    background-color: var(--bs-primary);
                    border-left: 1px solid var(--bs-primary);
                    border-bottom: 1px solid var(--bs-primary);
                }
            }
        }

        .tab-pane {
            padding: 2rem 0;
        }
    }
}

.fdf-sch-cards-section {

    .datagrid-table,
    .datagrid-table td,
    .datagrid-table th {
        border: none !important;
        padding: 12px 0;
    }

    .table tbody {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
        justify-content: center;
    }
}

.fdf-sch-cards-structure {
    tbody {
        tr {
            width: 33.33%;
            padding-right: calc(var(--bs-gutter-x)* 0.5);
            padding-left: calc(var(--bs-gutter-x)* 0.5);
            flex-shrink: 0;
            max-width: 100%;
        }

        td {
            width: 100%;
            display: flex;
        }

        .card {
            border-radius: var(--bs-border-radius-xl);
            margin-bottom: 0 !important;
        }
    }
}

.fdf-sch-pagination {
    .MuiPaginationItem-icon {
        font-size: 1.5rem;
    }

    .MuiPaginationItem-ellipsis {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .MuiPaginationItem-previousNext {
        border: none !important;
    }

    .Mui-selected {
        background-color: var(--bs-primary) !important;
        color: var(--bs-white) !important;
        border-color: var(--bs-primary) !important;
    }

    .MuiPaginationItem-page {
        border: 1px solid var(--bs-gray-400);
        border-radius: 20px;
        min-width: 35px;
        height: 35px;
        margin: 0 4px;
        font-size: 0.875rem;
    }
}

.fdf-sch-main-card-panel {
    .card {
        position: relative;
        overflow: hidden;
    }

    .card-body {
        padding: 1.5rem;
    }

    .fdf-sch-transitions-smoothly {
        transition: all 0.6s ease;
    }

    .fdf-sch-main-card-panel-anim-border {
        position: absolute;
        top: -50%;
        left: -50%;
        z-index: 0;
        display: block;
        transform: rotate(-45deg);
        overflow: hidden;
        background: linear-gradient(to right, var(--bs-body-bg) 20%, var(--bs-body-bg) 40%, var(--bs-secondary) 50%, var(--bs-secondary) 55%, var(--bs-body-bg) 70%, var(--bs-body-bg) 100%);
        height: 250%;
        width: 250%;
        background-size: 200% auto;
        transition: background-position 1.5s ease-out;
    }

    .fdf-sch-main-card-panel-anim-container {
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0px;
        left: 0px;
        margin: auto;
        display: block;
        height: 99%;
        width: 99%;
        background: var(--bs-body-bg);
        z-index: 0;
        border-radius: var(--bs-border-radius-xl);
    }

    .fdf-sch-main-card-title,
    .fdf-sch-main-card-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 45spx;
    }

    .fdf-sch-main-card-img {
        height: 15rem;
        border-radius: var(--bs-border-radius);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: linear-gradient(0deg, transparent 0%, var(--bs-primary) 150%);
            transition: height 0.5s ease;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .fdf-sch-main-card-btn {
        transform: translateY(100%);

        >i {
            transform: scale(0);
        }
    }

    .fdf-sch-main-card-badge {
        backdrop-filter: blur(1.5px);
    }

    &:hover {
        .fdf-sch-main-card-panel-anim-border {
            background-position: 200% center;
        }

        .fdf-sch-main-card-description {
            transform: translateY(-55px);
        }

        .fdf-sch-main-card-btn {
            transform: translateY(-40px);

            >i {
                transform: scale(1.2);
                -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
            }

        }

        .fdf-sch-main-card-img::before {
            height: 100%
        }
    }
}

@media screen and (max-width: 991.98px) {
    .fdf-sch-cards-structure {
        tbody {
            tr {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 575.98px) {
    .fdf-sch-cards-structure {
        tbody {
            tr {
                width: 100%;
            }
        }
    }

}

[dir="rtl"] {
    .fdf-sch-search-text-field .input-group {
        .input-group-prepend .input-group-text {
            border-radius: 0 var(--bs-border-radius-2xl) var(--bs-border-radius-2xl) 0;
        }

        .input-group-append .input-group-text {
            border-radius: var(--bs-border-radius-2xl) 0 0 var(--bs-border-radius-2xl);
        }
    }
}

.fdf-sch-main-card-panel {


    .fdf-sch-main-card-slider {
        z-index: 400;
        height: 32px;
        width: 90px;
        color: var(--bs-primary);
        top: 7px;
        left: 5px;
        background: #FFFFFF8C;
        backdrop-filter: blur(1.5px);

        .fdf-sch-main-card-count,
        .fdf-sch-main-card-count2 {
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;
        }

        .fdf-sch-main-card-count {
            transform: translateX(0);
        }

        .fdf-sch-main-card-count2 {
            transform: translateX(-100%);
        }

        .fdf-sch-main-card-read-more-btn {
            transform: translateY(100%);

            >i {
                transform: scale(0);
            }
        }


    }

    .fdf-sch-main-card-video-icon {
        opacity: 0;
        left: 17%;
        height: 100%;
        width: 65%;
        background-color: var(--bs-primary);

        >div {
            width: 0;
            height: 0;
            rotate: 90deg;
            margin-left: 14px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 30px solid var(--bs-body-bg);
        }
    }

}