:root {
  --pmo-gradiant-bg: linear-gradient(
    -90deg,
    #6d3bd7 0%,
    #a83fb6 50.98%,
    #d8439b 100%
  );
}

:root,
[data-bs-theme="light"] {
  --pmo-input-bg: #232337;
  --pmo-input-label-color: #ffffffb3;
}

.checkin-form {
  .col-form-label {
    color: var(--pm-input-label-color);
  }
  .btn {
    --bs-btn-border-radius: 30px;
    --bs-btn-padding-x: 35px;
    --bs-btn-padding-y: 8px;
    background: var(--bs-btn-bg);
  }
  .btn:hover {
    background: var(--bs-btn-hover-bg);
  }
  .btn-primary {
    --bs-btn-bg: linear-gradient(
      -90deg,
      #6d3bd7 0%,
      #a83fb6 50.98%,
      #d8439b 100%
    );
    --bs-btn-hover-bg: linear-gradient(
      90deg,
      #6d3bd7 0%,
      #a83fb6 50.98%,
      #d8439b 100%
    );
    border-width: 0;
  }
  .btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--mui-palette-secondary-light);
    --bs-btn-hover-border-color: var(--mui-palette-secondary-light);
  }
  .btn-outline-secondary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--mui-palette-secondary-light);
    --bs-btn-hover-border-color: var(--mui-palette-secondary-light);
  }
  .btn-outline-primary {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-bg: var(--pmo-input-bg);
    transform-style: preserve-3d;
    position: relative;
    border: unset;
  }
  .btn-outline-primary::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: var(--bs-btn-border-radius);
    background: var(--pmo-gradiant-bg);
    z-index: -1;
    transform: translateZ(-1px);
  }
  .btn-outline-primary:hover {
    opacity: 0.88;
  }
  input {
    color: var(--bs-secondary) !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--pmo-input-bg) inset !important;
    -webkit-text-fill-color: var(--bs-secondary);
    background-clip: text;
  }
  .form-control {
    border: unset;
    background-color: var(--pmo-input-bg);
    color: var(--bs-secondary);
  }
  .form-control:focus {
    background-color: var(--pmo-input-bg) !important;
    color: var(--bs-secondary);
  }
  .form-control::placeholder {
    color: var(--bs-secondary);
    opacity: 0.88;
  }

  .form_icon_container .input-group .input-group-text {
    color: var(--bs-body-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    border-radius: var(--bs-border-radius-lg) 0 0 var(--bs-border-radius-lg);
    background-color: var(--bs-body-bg);
  }
  .phoneNumberComponent {
    .PhoneInput {
      .PhoneInputCountry {
        background-color: var(--pmo-input-bg);
        .PhoneInputCountrySelect {
          background-color: var(--mui-palette-primary-dark);
          color: var(--bs-secondary);
        }
        .PhoneInputCountrySelectArrow {
          margin-left: 10px;
        }
        .PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
          box-shadow: unset;
        }
      }
      > input {
        background-color: var(--pmo-input-bg) !important;
        border: unset;
        color: var(--bs-secondary);
      }
    }
  }
  .flatpickr-calendar {
    background-color: var(--mui-palette-primary-dark) !important;
    box-shadow: unset !important;
  }
  .flatpickr-current-month {
    padding-top: 0;
  }
  .flatpickr-calendar.arrowTop:before,
  .flatpickr-calendar.arrowTop:after {
    border-bottom-color: var(--mui-palette-primary-dark) !important;
  }
  .flatpickr-calendar.arrowBottom:after,
  .flatpickr-calendar.arrowBottom:before {
    border-top-color: var(--mui-palette-primary-dark) !important;
  }
  .flatpickr-months .flatpickr-month,
  .flatpickr-months .flatpickr-prev-month,
  .flatpickr-months .flatpickr-next-month,
  span.flatpickr-weekday,
  .flatpickr-day {
    color: var(--bs-secondary) !important;
    fill: var(--bs-secondary) !important;
  }
  .flatpickr-months .flatpickr-prev-month,
  .flatpickr-months .flatpickr-next-month {
    padding-top: 5px !important;
  }
  .flatpickr-months .flatpickr-prev-month:hover svg,
  .flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--bs-secondary) !important;
    opacity: 0.66;
  }
  .numInputWrapper span {
    opacity: 1 !important;
  }
  .flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: var(--bs-secondary) !important;
    top: 50%;
  }
  .flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: var(--bs-secondary) !important;
    top: 25%;
  }
  .flatpickr-day.flatpickr-disabled,
  .flatpickr-day.flatpickr-disabled:hover {
    opacity: 0.44;
  }
  .flatpickr-day:hover {
    background: #ffffff59 !important;
  }
  .flatpickr-day.today:hover,
  .flatpickr-day.today:focus {
    background: #ffffff9c !important;
  }
  .flatpickr-day.flatpickr-disabled,
  .flatpickr-day.flatpickr-disabled:hover,
  .flatpickr-day.prevMonthDay,
  .flatpickr-day.nextMonthDay,
  .flatpickr-day.notAllowed,
  .flatpickr-day.notAllowed.prevMonthDay,
  .flatpickr-day.notAllowed.nextMonthDay {
    background: transparent !important;
  }
  .choices__list--dropdown,
  .choices__list[aria-expanded],
  .choices[data-type*="select-one"] .choices__input,
  .choices__input {
    background-color: var(--mui-palette-primary-dark) !important;
    border: unset;
    border-radius: 4px;
    color: var(--bs-secondary);
  }
  .choices__list--dropdown .choices__item:hover,
  .choices__list[aria-expanded] .choices__item:hover {
    background: #ffffff42 !important;
  }
  input.choices__input.choices__input--cloned::placeholder {
    color: var(--bs-secondary) !important;
    opacity: 0.66;
  }
}

.event_manegment_container {
  .btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--mui-palette-secondary-light);
    --bs-btn-hover-border-color: var(--mui-palette-secondary-light);
  }
  .btn-outline-secondary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--mui-palette-secondary-light);
    --bs-btn-hover-border-color: var(--mui-palette-secondary-light);
  }
}
.request-list-container {
  table td {
    padding: 0rem !important;
    padding-bottom: 0.5rem;
  }
}
.mapClass .table {
  table-layout: fixed !important;
}

.custom_signup_container {
  .phoneNumberComponent {
    & .PhoneInput {
      position: relative;
      > input {
        background-color: var(--mui-palette-primary-contrastText);
      }
      .PhoneInputCountry {
        background: #fff;
      }
    }
    .PhoneInputCountry {
      position: absolute;
      right: 0;
      top: 10%;
      .PhoneInputCountrySelectArrow {
        border-color: var(--bs-secondary-text-emphasis);
        margin-left: 15px;
      }
    }
  }
}

.application_details_theme {
  transition: all 0.3s ease-in-out;
  .btn {
    --bs-btn-border-radius: 2rem;
    --bs-btn-padding-y: 8px;
    --bs-btn-padding-x: calc(1rem + 0.01vw);
  }
  .btn-outline-primary {
    --bs-btn-bg: var(--mui-palette-primary-light);
    --bs-btn-border-color: var(--mui-palette-primary-light);
  }
  .btn-outline-secondary {
    --bs-btn-bg: var(--bs-body-bg);
    --bs-btn-border-color: var(--mui-palette-secondary-light);
    --bs-btn-hover-color: var(--mui-palette-secondary-main);
    --bs-btn-hover-border-color: var(--mui-palette-secondary-light);
    --bs-btn-hover-bg: var(--mui-palette-secondary-light);
    --bs-btn-active-color: var(--mui-palette-secondary-main);
    --bs-btn-active-bg: var(--mui-palette-secondary-light);
    --bs-btn-active-border-color: var(--mui-palette-secondary-light);
  }
  .stepper-btn {
    --bs-btn-bg: #fff;
    --bs-btn-color: var(--mui-palette-primary-main);
    --bs-btn-border-color: var(--mui-palette-primary-main);
    --bs-btn-hover-border-color: var(--mui-palette-primary-main);
    --bs-btn-hover-bg: var(--mui-palette-primary-light);
    --bs-btn-hover-color: var(--mui-palette-primary-main);
    --bs-btn-active-color: var(--mui-palette-primary-main);
    --bs-btn-active-bg: var(--mui-palette-primary-light);
    --bs-btn-active-border-color: var(--mui-palette-primary-main);
    --bs-btn-disabled-color: var(--mui-palette-primary-main);
    --bs-btn-disabled-bg: var(--mui-palette-primary-light)
      var(--bs-btn-disabled-opacity);
    --bs-btn-disabled-border-color: var(--mui-palette-primary-main);
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.2rem;
  }
}
